/* fonts and layout */

body {
  color: #a7a9ac;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding: 50px 100px;
}

form {
  float: right;
}

main {
  width: 100%;
  max-width: 1200px;
}

table {
  padding-top: 60px;
  table-layout: fixed;
  width: 100%;
}

td {
  color: #363945;
}

td,
th {
  height: 50px;
  border-bottom: 1px solid #e6e7e8;
}

th {
  font-weight: normal;
  text-align: left;
}

.count {
  color: #363945;
  float: left;
  font-size: 25px;
  padding-top: 6px;
}


/* upload form */

.button {
  border: 1px solid #54bbff;
  border-radius: 0 4px 4px 0;
  background-color: #54bbff;
  color: #ffffff;
  display: inline-block;
  height: 30px;
  padding-top: 10px;
  text-align: center;
  vertical-align: middle;
  width: 110px;
}

.inputs {
  display: inline-block;
  margin-left: 20px;
}

.filename {
  border-color: #e6e7e8;
  border-radius: 4px 0 0 4px;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  display: inline-block;
  font-size: 13px;
  height: 29px;
  vertical-align: middle;
  padding-left: 14px;
  padding-top: 11px;
  width: 306px;
}

#file {
  display: none;
}


/* sortable header effects */

th {
  color: #54bbff;
  cursor: pointer;
  font-weight: bold;
}

.VueTables__sort-icon {
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 15px;
  padding-right: 20px;
  padding-top: 2px;
}

.descending {
  background-image: url("/images/down.png");
}

.ascending {
  background-image: url("/images/up.png");
}

.VuePagination {
  display: none;
}


/* pets */

td.pet {
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 40px;
}

tr.both td.pet{
  background-image: url("/images/both.png");
}

tr.cat td.pet{
  background-image: url("/images/cat.png");
}

tr.dog td.pet{
  background-image: url("/images/dog.png");
}

tr.none td.pet{
  padding-left: inherit;
  color: #a7a9ac;
  font-style: italic;
}
