$background-color: #ffffff;
$accent-color: #54bbff;
$border-color: #e6e7e8;
$dark-text-color: #363945;
$light-text-color: #a7a9ac;



body {
  background: $background-color;
  color: $light-text-color;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding: 50px 100px;
}



main {
  width: 100%;
  margin: auto;
  max-width: 1200px;
}



.count {
  color: $dark-text-color;
  float: left;
  font-size: 25px;
  padding-top: 6px;
}



.file-uploader {
  float: right;
}
.file-uploader {
  .button {
    border: 1px solid $accent-color;
    border-radius: 0 4px 4px 0;
    background-color: $accent-color;
    color: $background-color;
    display: inline-block;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    width: 110px;
  }
  .inputs {
    display: inline-block;
    margin-left: 20px;
  }
  .filename {
    border-color: $border-color;
    border-radius: 4px 0 0 4px;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    display: inline-block;
    font-size: 13px;
    height: 29px;
    vertical-align: middle;
    padding-left: 14px;
    padding-top: 11px;
    width: 306px;
  }
  .hidden {
    display: none;
  }
}



.people-table {
  table {
    padding-top: 60px;
    table-layout: fixed;
    width: 100%;
  }
  td {
    color: $dark-text-color;
  }
  td,
  th {
    height: 50px;
    border-bottom: 1px solid $border-color;
  }
  th {
    font-weight: normal;
    text-align: left;
  }
  .empty {
    border-bottom: 1px solid $border-color;
    color: $dark-text-color;
    height: 50px;
    line-height: 50px;
    padding-left: 3px;
    width: 100%;
  }

  /* sortable header effects */

  th {
    color: $accent-color;
    cursor: pointer;
    font-weight: bold;
  }
  th span {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 15px;
    padding-right: 20px;
    padding-top: 2px;
  }
  .descending {
    background-image: url("/images/down.png");
  }
  .ascending {
    background-image: url("/images/up.png");
  }

  /* pets */

  .pet-both,
  .pet-cat,
  .pet-dog,
  .pet-none {
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 30px;
  }
  .pet-both,
  .pet-cat,
  .pet-dog {
    padding-left: 40px;
  }
  .pet-both {
    background-image: url("/images/both.png");
  }
  .pet-cat {
    background-image: url("/images/cat.png");
  }
  .pet-dog {
    background-image: url("/images/dog.png");
  }
  .pet-none {
    color: $light-text-color;
    font-style: italic;
  }
}
